
<div *ngIf='books && ratings'>
  <h5>Ostavljeni komentari</h5>
  <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Knjiga</th>
        <th scope="col">Autori</th>
        <th scope="col">Ocena</th>
        <th scope="col">Komentar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of ratings; index as i">
      <td><a [routerLink]='"/book/" + r.bookId'>
        {{bookName(r.bookId)}}
      </a></td>
      <td>{{bookAuthors(r.bookId)}}</td>
      <td>{{r.rating}}/10</td>
      <td>{{r.comment}}</td>
    </tr>
    </tbody>
  </table>
</div>
