
.error-msg {
    margin-left: 0.5em;
    padding: 5px;
    background-color: rgb(211, 149, 149);
    font-size: small;
    color: #410404;
    border-radius: 2px;
}

.success-msg {
    margin-left: 0.5em;
    padding: 5px;
    background-color: rgb(151, 211, 149);
    font-size: small;
    color: #033a23;
    border-radius: 2px; 
}