
<div *ngIf='loaded'>
    <span *ngIf='status == "success"' class='success-msg'>
        Odabrani žanr je uspešno obrisan
    </span>
    <span *ngIf='status == "error"' class='error-msg'>
        Žanr se ne može obrisati sve dok u sistemu postoje knjige koje mu pripadaju
    </span>
    <form (submit)='deleteGenre()'>
        <select name='genreId' [(ngModel)]='genreId'>
            <option *ngFor='let g of genres; index as i' [value]='g._id'>{{g.name}}</option>
        </select>
        <button type='submit'>Obriši</button>
    </form>
</div>
