
<div *ngIf='unverifiedBooks'>
    <table *ngIf='unverifiedBooks.length > 0' class='table table-striped'>
        <tbody>
            <tr *ngFor='let b of unverifiedBooks; index as i'>
                <td><a [routerLink]='"/book/" + b._id'>
                    {{b.title}}
                </a></td>
                <td><button type='button' (click)='verifyBook(b._id, i)'>
                    Odobri knjigu
                </button></td>
            </tr>
        </tbody>
    </table>
    <span *ngIf='unverifiedBooks.length == 0'>
        Sve knjige u sistemu su već odobrene.
    </span>
</div>
