
<form *ngIf='loaded' [formGroup]='form' (submit)='editBookData()'>
    <table>
        <tr>
            <td>Naziv</td>
            <td><input type='text' formControlName='title'></td>
        </tr>
        <tr>
            <td>Slika</td>
            <td><input type='file' (change)='onImagePicked($event.target.files)'></td>
        </tr>
        <tr>
            <td>Autori</td>
            <td>
                <textarea rows='5' cols='33' formControlName='authors' placeholder='Imena autora razdvojiti zarezom'></textarea>
            </td>
        </tr>
        <tr>
            <td>Datum izdavanja</td>
            <td><input type='date' formControlName='publishDate'></td>
        </tr>
        <tr>
            <td>Zanrovi</td>
            <td>
                <select formControlName='genres' multiple>
                    <option *ngFor='let g of genres' [value]='g._id'>{{g.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Kratak opis</td>
            <td><textarea rows='5' cols='33' formControlName='description' placeholder="Kratak opis..."></textarea></td>
        </tr>
    </table>
    <button type='submit'>Potvrdi izmene</button>
</form>