
<div *ngIf='user && books'>
    <ul ngbNav #nav='ngbNav' [(activeId)]='active' class='nav-tabs'>
        <li [ngbNavItem]='1'>
            <a ngbNavLink>Pročitane knige</a>
            <ng-template ngbNavContent>
                <table class='table table-striped'>
                    <tbody>
                        <tr *ngFor='let b of finishedBooks | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize'>
                            <td><a [routerLink]='"/book/" + b.book'>
                                {{bookName(b.book)}}
                            </a></td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination
                    class='d-flex justify-content-center'
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="finishedBooks.length">
                </ngb-pagination>
            </ng-template>
        </li>
        <li [ngbNavItem]='2'>
            <a ngbNavLink>Trenutno čitane</a>
            <ng-template ngbNavContent>
                <table class='table table-striped'>
                    <tbody>
                        <tr *ngFor='let b of activeBooks | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize'>
                            <td><a [routerLink]='"/book/" + b.book'>
                                {{bookName(b.book)}}
                            </a></td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination
                    class='d-flex justify-content-center'
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="activeBooks.length">
                </ngb-pagination>
             </ng-template>
        </li>
        <li [ngbNavItem]='3'>
            <a ngbNavLink>Za kasnije čitanje</a>
            <ng-template ngbNavContent>
                <table class='table table-striped'>
                    <tbody>
                        <tr *ngFor='let b of toReadBooks | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize'>
                            <td><a [routerLink]='"/book/" + b.book'>
                                {{bookName(b.book)}}
                            </a></td>
                            <td><button type='button' (click)='bkRemoveFromList(b.book)'>
                                Ukloni
                            </button></td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination
                    class='d-flex justify-content-center'    
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="toReadBooks.length">
                </ngb-pagination>
            </ng-template>
        </li>
    </ul>
    
    <div [ngbNavOutlet]='nav' class='mt-2'></div>

    Veličina stranice
    <input type='number' [value]='pageSize' (change)='changePageSize($event.target)'>
</div>
