
.rezultati table, .rezultati th, .rezultati td {
    border: 1px solid black
}

.rezultati th, .rezultati td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.not-verified {
    background-color: #cccccc;
    font-style: italic;
}