
<div class='center'>
    <form [formGroup]='form' (submit)='searchBooks()'>
        <table>
            <tr>
                <td>Naziv knjige</td>
                <td>
                    <input type='text' formControlName='title'>
                </td>
            </tr>
            <tr>
                <td>Autor knjige</td>
                <td>
                    <input type='text' formControlName='author'>
                </td>
            </tr>
            <tr>
                <td>Zanr</td>
                <td>
                    <select formControlName='genre'>
                        <option *ngFor='let g of genres' [value]='g._id'>{{g.name}}</option>
                    </select>
                </td>
            </tr>
        </table>
        <button>Pretrazi</button>
    </form>

    <div *ngIf='queryDone'>
        <h4>Rezultati pretrage</h4>
    </div>
    <div class='rezultati'  *ngIf='queriedBooks && queriedBooks.length > 0'>
        <table>
            <tr>
                <th>Naziv</th>
                <th>Autor</th>
                <th>Zanr</th>
            </tr>
            <tr *ngFor='let b of queriedBooks' [class.not-verified]='!b.accepted'>
                <th><a [routerLink]="['/book', b._id]">{{b.title}}</a></th>
                <th>{{formatAuthors(b)}}</th>
                <th>{{formatGenres(b)}}</th>
            </tr>
        </table>
    </div>

    <div *ngIf='queryDone && queriedBooks.length == 0'>
        <p>Nije pronađena ni jedna knjiga koja ispunjava kriterijum pretrage</p>
        <p><a routerLink='/new-book'>Ukoliko želite, možete dodati novu knjigu</a></p>
    </div>
</div>