
<app-user-details></app-user-details>

<hr>

<div *ngIf='viewingLoggedInUser'>
    <hr>
    <app-reading-overview></app-reading-overview>
    <hr>
    <app-book-search></app-book-search>
    <hr>
    <app-events-overview></app-events-overview>
    <hr>
</div>

<app-user-comments></app-user-comments>