
<span *ngIf='success === true' class='success-msg'>
    Novi žanr je uspešno dodat
</span>
<span *ngIf='success === false' class='error-msg'>
    Žanr sa navedenim imenom već postoji
</span>
<form [formGroup]='form' (submit)='addGenre()'>
    <table>
        <tr>
            <td>Naziv žanra</td>
            <td>
                <input type='text' formControlName='genreName' required>
                <span *ngIf="!form.get('genreName').valid && form.get('genreName').touched" class='error-msg'>
                    Obavezno polje
                </span>
            </td>
        </tr>
    </table>
    <button type='submit'>Dodaj</button>
</form>
