
<form (submit)='changePassword()'>
    <table>
        <tr>
            <td>Stara lozinka</td>
            <td><input type='password' name='oldPassword' [(ngModel)]='oldPassword' required></td>
        </tr>
        <tr>
            <td>Nova lozinka</td>
            <td><input type='password' name='newPassword' [(ngModel)]='newPassword'
                pattern='^(?=.{7,})(?=.*[0-9])(?=.*[A-Z])(?=.*[@#$%^&+=])[a-zA-Z].*$'
                required>
            </td>
        </tr>
        <tr>
            <td>Potvrda nove lozinke</td>
            <td><input type='password' name='confirmPassword' [(ngModel)]='confirmPassword' required></td>
        </tr>
        <button type='submit'>Potvrdi</button>
    </table>
</form>