
<div *ngIf='unregisteredUsers'>
    <h4>Zahtevi za registraciju</h4>
    <table *ngIf='unregisteredUsers.length > 0' class='table table-striped'>
        <tbody>
            <tr *ngFor='let u of unregisteredUsers; index as i'>
                <td><a [routerLink]='"/profile-page/" + u._id'>
                    {{u.firstname}} {{u.lastname}}
                </a></td>
                <td>
                    <button type='button' (click)='acceptRegistration(u._id, i)'>Prihvati</button>
                    <button type='button' (click)='rejectRegistration(u._id, i)'>Odbij</button>
                </td>
            </tr>
        </tbody>
    </table>
    <span *ngIf='unregisteredUsers.length == 0'>
        Trenutno nema neobrađenih zahteva za registraciju
    </span>
</div>

<div *ngIf='regularUsers'>
    <h4>Regularni korisnici</h4>
    <table *ngIf='regularUsers.length > 0' class='table table-striped'>
        <tbody>
            <tr *ngFor='let u of regularUsers; index as i'>
                <td><a [routerLink]='"/profile-page/" + u._id'>
                    {{u.firstname}} {{u.lastname}}
                </a></td>
                <td><button type='button' (click)='promoteUser(u._id, i)'>Dodaj moderatorske privilegije</button></td>
            </tr>
        </tbody>
    </table>
    <span *ngIf='regularUsers.length == 0'>
        Trenutno nema regularnih korisnika u sistemu
    </span>
</div>

<div *ngIf='moderators'>
    <h4>Moderatori</h4>
    <table *ngIf='moderators.length > 0' class='table table-striped'>
        <tbody>
            <tr *ngFor='let u of moderators; index as i'>
                <td><a [routerLink]='"/profile-page/" + u._id'>
                    {{u.firstname}} {{u.lastname}}
                </a></td>
                <td><button type='button' (click)='demoteUser(u._id, i)'>Oduzmi moderatorske privilegije</button></td>
            </tr>
        </tbody>
    </table>
    <span *ngIf='moderators.length == 0'>
        Trenutno nema moderatora u sistemu
    </span>
</div>
