
<!-- treba i slika negde -->

<div *ngIf='book && genres'>
    <img [src]='book.imagePath'>
    <table class='table'>
        <tbody>
            <tr>
                <td>Naziv</td>
                <td>{{book.title}}</td>
            </tr>
            <tr>
                <td>Autori</td>
                <td>{{formatAuthors(book)}}</td>
            </tr>
            <tr>
                <td>Datum izdavanja</td>
                <td>{{formatDate(book.publishDate)}}</td>
            </tr>
            <tr>
                <td>Zanrovi</td>
                <td>{{formatGenres(book)}}</td>
            </tr>
            <tr>
                <td>Kratak opis</td>
                <td>{{book.description}}</td>
            </tr>
            <tr>
                <td>Ocena</td>
                <td>
                    <span *ngIf='avgRating > 0'>{{avgRating}}/10</span>
                    <span *ngIf='avgRating < 0'>Knjiga nije ocenjivana</span>
                </td>
            </tr>
            <tr *ngIf='user && user.type == "admin"'>
                <td>
                    <a [routerLink]='"/edit-book/" + book._id'>
                        Izmeni podatke
                    </a>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
</div>

<div *ngIf='book && book.accepted && isAuthenticated && user'>
    <div *ngIf='rStatus == "notFound"'>
        <button type='button' (click)='bkAddToFinished()'>Dodaj u procitane</button>
        <button type='button' (click)='bkAddToList()'>Dodaj u listu za citanje</button>
        <button type='button' (click)='bkAddToCurrentlyRead()'>Dodaj u trenutno citane</button>
    </div>
    <div *ngIf='rStatus == "active"'>
        <button type='button' (click)='bkFinishReading()'>Oznaci procitanom</button>
        <form>
            <button type='button' (click)='bkUpdatePages()'>Azuriraj procitane strane</button>
            <input type='number' class='pages' name='pagesRead' [(ngModel)]='pagesRead' required>
            /
            <input type='number' class='pages' name='pagesCount' [(ngModel)]='pagesCount' required>
        </form>
    </div>
    <div *ngIf='rStatus == "toRead"'>
        <button type='button' (click)='bkStartReading()'>Zapocni citanje</button>
        <button type='button' (click)='bkRemoveFromList()'>Izbaci iz liste</button>
    </div>

    <div *ngIf='rStatus == "active"'>
        <p><ngb-progressbar type='success' [value]='percentRead * 100'></ngb-progressbar></p>
    </div>

    <div *ngIf='rStatus == "active" || "finished"'>
        <form (submit)='leaveRating()'>
            <table>
                <tr>
                    <td>Ocena</td>
                    <td>
                        <ngb-rating [(rate)]='rating' [disabled]='percentRead < 0.5 && rStatus != "finished"'>
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                    </td>
                </tr>
                <tr>
                    <td>Komentar</td>
                    <td><textarea name='comment' [(ngModel)]='comment' [disabled]='percentRead < 0.5 && rStatus != "finished"' rows='5' cols='33'
                        placeholder='Za ocenjivanje knjige i ostavljanje komentara mora biti procitano barem 50% knjige.'></textarea></td>
                </tr>
            </table>
            <button [disabled]='percentRead < 0.5 && rStatus != "finished"'>Oceni knjigu</button>
        </form>
    </div>
</div>

<div *ngIf='ratingsFetched'>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Korisnik</th>
                <th>Ocena</th>
                <th>Komentar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let r of bookRatings'>
                <td>
                    <a *ngIf='isAuthenticated' [routerLink]='"/profile-page/" + r.userId'>
                        {{formatUsersFullName(r.userId)}}
                    </a>
                    <span *ngIf='!isAuthenticated'>Anonimni korisnik</span>
                </td>
                <td>{{r.rating}}/10</td>
                <td>{{r.comment}}</td>
            </tr>
        </tbody>
    </table>
</div>
