
<form [formGroup]='form' (submit)='login()'>
    <table>
        <tr>
            <td>Korisnicko ime</td>
            <td>
                <input type='text' formControlName='username'>
            </td>
        </tr>
        <tr>
            <td>Lozinka</td>
            <td>
                <input type='password' formControlName='password'>
            </td>
        </tr>
    </table>
    <button type='submit'>Prijavi se</button>
</form>
<hr>
<a routerLink='/guest-page'>Nastavite kao gost</a>