
<div *ngIf='user'>
    <img [src]='user.imagePath'>
    <table class='table'>
        <tbody>
            <tr>
                <td>Ime</td>
                <td>{{user.firstname}}</td>
            </tr>
            <tr>
                <td>Prezime</td>
                <td>{{user.lastname}}</td>
            </tr>
            <tr>
                <td>Datum rodjenja</td>
                <td>{{formatDate(user.birthdate)}}</td>
            </tr>
            <tr>
                <td>Mesto prebivalista</td>
                <td>{{user.city}}, {{user.country}}</td>
            </tr>
            <tr>
                <td>E-mail adresa</td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td>Poslednje aktivan</td>
                <td>{{formatDate(user.lastActive)}}</td>
            </tr>
        </tbody>
    </table>
</div>
