
<div *ngIf='events'>
    <h4>Pregled javnih događaja</h4>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Naziv događaja</th>
                <th>Datum početka</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let e of events'>
                <td>{{e.name}}</td>
                <td>{{formatStartDate(e.startDate)}}</td>
            </tr>
        </tbody>
    </table>
</div>