
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul *ngIf='isAuthenticated && user' class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link dropdown-toggle" id="booksDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Knjige
                </a>
                <div class="dropdown-menu" aria-labelledby="booksDropdown">
                    <a class="dropdown-item" routerLink='/new-book'>Dodaj knjigu</a>
                    <div *ngIf='isMod()' class="dropdown-divider"></div>
                    <a *ngIf='isMod()' class="dropdown-item" routerLink='/books-verification'>Odobri knjige</a>
                    <div *ngIf='isAdmin()' class="dropdown-divider"></div>
                    <a *ngIf='isAdmin()' class="dropdown-item" routerLink='/new-genre'>Dodaj žanr</a>
                    <a *ngIf='isAdmin()' class="dropdown-item" routerLink='/delete-genre'>Obriši žanr</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link dropdown-toggle" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Korisnici
                </a>
                <div class="dropdown-menu" aria-labelledby="usersDropdown">
                    <a class="dropdown-item" routerLink='/user-search'>Pretraga korisnika</a>
                    <div *ngIf='isAdmin()' class="dropdown-divider"></div>
                    <a *ngIf='isAdmin()' class="dropdown-item" routerLink='/user-management'>Upravljanje nalozima</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div> -->
    <div class='navbar-collapse collapse w-100 order-3 dual-collapse2'>
        <ul class='navbar-nav ml-auto'>
            <li *ngIf='!isAuthenticated' class='nav-item'>
                <a class='nav-link' routerLink='/register'>Napravi nalog</a>
            </li>
            <li *ngIf='!isAuthenticated' class='nav-item'>
                <a class='nav-link' routerLink='/'>Prijavi se</a>
            </li>


            <!-- <a *ngIf='isAuthenticated && user' class="nav-link dropdown-toggle" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.firstname}} {{user.lastname}}
            </a>
            <div *ngIf='isAuthenticated && user' class="dropdown-menu float-right" aria-labelledby="profileDropdown">
                <a class="dropdown-item" [routerLink]='"/profile-page/" + userId'>
                    Pregled profila
                </a>
                <a class="dropdown-item" [routerLink]='"/edit-user/" + userId'>
                    Izmeni podatke
                </a>
            </div> -->

            <div *ngIf='isAuthenticated && user' ngbDropdown class="float-right">
                <a ngbDropdownToggle class="nav-link" id="profileDropdown" role='button'>
                    {{user.firstname}} {{user.lastname}}
                </a>
                <div ngbDropdownMenu aria-labelledby="profileDropdown">
                    <a ngbDropdownItem [routerLink]='"/profile-page/" + userId'>
                        Pregled profila
                    </a>
                    <a ngbDropdownItem routerLink='/edit-user'>
                        Izmeni podatke
                    </a>
                    <a ngbDropdownItem routerLink='/new-password'>
                        Promeni lozinku
                    </a>
                    <!-- <a ngbDropdownItem routerLink='/' (click)='logout()'>
                        Odjavi se
                    </a> -->
                </div>
            </div>
            <!-- <li *ngIf='isAuthenticated && user' class='nav-item'>
                <a class='nav-link' [routerLink]='"/profile-page/" + userId'>
                    {{user.firstname}} {{user.lastname}}
                </a>
            </li> -->
            <li *ngIf='isAuthenticated' class='nav-item'>
                <a class='nav-link' routerLink='/' (click)='logout()'>Odjavi se</a>
            </li>
        </ul>
    </div>
</nav>