
<div class='center'>
    <form [formGroup]='form' (submit)='searchUsers()'>
        <table>
            <tr>
                <td>Ime</td>
                <td>
                    <input type='text' formControlName='firstname'>
                </td>
            </tr>
            <tr>
                <td>Prezime</td>
                <td>
                    <input type='text' formControlName='lastname'>
                </td>
            </tr>
            <tr>
                <td>Korisnicko ime</td>
                <td>
                    <input type='text' formControlName='username'>
                </td>
            </tr>
            <tr>
                <td>E-mail adresa</td>
                <td>
                    <input type='text' formControlName='email'>
                </td>
            </tr>
        </table>
        <button>Pretrazi</button>
    </form>

    <div *ngIf='queryDone'>
        <h4>Rezultati pretrage</h4>
    </div>
    <div class='rezultati'  *ngIf='queriedUsers && queriedUsers.length > 0'>
        <table>
            <tr>
                <th>Ime i prezime</th>
                <th>Korisnicko ime</th>
                <th>E-mail adresa</th>
            </tr>
            <tr *ngFor='let u of queriedUsers'>
                <th><a [routerLink]="['/profile-page', u._id]">
                    {{u.firstname}} {{u.lastname}}
                </a></th>
                <th>{{u.username}}</th>
                <th>{{u.email}}</th>
            </tr>
        </table>
    </div>

    <div *ngIf='queryDone && queriedUsers.length == 0'>
        <p>Nije pronađen ni jedan korisnik</p>
    </div>
</div>