
<form [formGroup]='form' (submit)='register()'>
    <table>
        <tr>
            <td>Ime</td>
            <td>
                <input type='text' formControlName='firstname' required>
                <span *ngIf="!form.get('firstname').valid && form.get('firstname').touched">
                    Obavezno polje
                </span>
            </td>
        </tr>
        <tr>
            <td>Prezime</td>
            <td>
                <input type='text' formControlName='lastname' required>
                <span *ngIf="!form.get('lastname').valid && form.get('lastname').touched">
                    Obavezno polje
                </span>
            </td>
        </tr>
        <tr>
            <td>Profilna slika</td>
            <td><input type='file' (change)='onImagePicked($event.target.files)'></td>
        </tr>
        <tr>
            <td>Korisnicko ime</td>
            <td>
                <input type='text' formControlName='username' required>
                <span *ngIf="!form.get('username').valid && form.get('username').touched">
                    Obavezno polje
                </span>
            </td>
        </tr>
        <tr>
            <td>Lozinka</td>
            <td>
                <input type='password' formControlName='password' 
                pattern='^(?=.{7,})(?=.*[0-9])(?=.*[A-Z])(?=.*[@#$%^&+=])[a-zA-Z].*$' required>
                <span *ngIf="!form.get('password').valid && form.get('password').touched">
                    Molimo Vas unesite ispravnu lozinku
                </span>
            </td>
        </tr>
        <tr>
            <td>Potvrdi lozinku</td>
            <td>
                <input type='password' formControlName='passwordConfirm' required>
                <span *ngIf="!form.get('passwordConfirm').valid && form.get('passwordConfirm').touched">
                    Mora biti ista kao lozinka
                </span>
            </td>
        </tr>
        <tr>
            <td>Datum rodjenja</td>
            <td>
                <input type='date' formControlName='birthdate' required>
                <span *ngIf="!form.get('birthdate').valid && form.get('birthdate').touched">
                    Datum mora biti validan
                </span>
            </td>
        </tr>
        <tr>
            <td>Drzava</td>
            <td>
                <input type='text' formControlName='country' required>
                <span *ngIf="!form.get('country').valid && form.get('country').touched">
                    Obavezno polje
                </span>
            </td>
        </tr>
        <tr>
            <td>Grad</td>
            <td>
                <input type='text' formControlName='city' required>
                <span *ngIf="!form.get('city').valid && form.get('city').touched">
                    Obavezno polje
                </span>
            </td>
        </tr>
        <tr>
            <td>E-mail adresa</td>
            <td>
                <input type='email' formControlName='email' required>
                <span *ngIf="!form.get('email').valid && form.get('email').touched">
                    Molimo Vas unesite validnu e-mail adresu
                </span>
            </td>
            
        </tr>
    </table>
    <re-captcha (resolved)='resolved($event)' siteKey='6Leu38YZAAAAAM0V7ISFkVRyieG7eqzCwsGMQXxN'></re-captcha>
    <button [disabled]='!captchaResult()' type='submit'>Registruj se</button>
</form>