
input.ng-invalid.ng-touched {
    border: 1px solid red;
}

span {
    margin-left: 0.5em;
    padding: 5px;
    background-color: rgb(211, 149, 149);
    font-size: small;
    color: #410404;
    border-radius: 2px;
}