

<form [formGroup]='form' (submit)='editUserData()'>
    <table>
        <tr>
            <td>Ime</td>
            <td>
                <input type='text' formControlName='firstname' required>
            </td>
        </tr>
        <tr>
            <td>Prezime</td>
            <td>
                <input type='text' formControlName='lastname' required>
            </td>
        </tr>
        <tr>
            <td>Profilna slika</td>
            <td><input type='file' (change)='onImagePicked($event.target.files)'></td>
        </tr>
        <tr>
            <td>Datum rodjenja</td>
            <td>
                <input type='date' formControlName='birthdate' required>
            </td>
        </tr>
        <tr>
            <td>Drzava</td>
            <td>
                <input type='text' formControlName='country' required>
            </td>
        </tr>
        <tr>
            <td>Grad</td>
            <td>
                <input type='text' formControlName='city' required>
            </td>
        </tr>
        <tr>
            <td>E-mail adresa</td>
            <td>
                <input type='email' formControlName='email' required>
            </td>
        </tr>
    </table>
    <button type='submit'>Potvrdi izmenu</button>
</form>